*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    background-color: #EFDF68;
}
.login{
    gap: 15px;
}
.login h1{
    color: #5F5B30;
}
.image img{
    width: 70px;
    height: 70px;
    border-radius:50px;
}
form{
    background-color: #1D3D13;
    color: white;
    padding: 30px;
    border-radius: 15px;
    height: 40vh;
    max-width: 700px;
    margin: auto;
}
.btn{
    width: 130px;
}
